
.gm-style-iw-d {
  width: 290px;
  
  margin: 0 !important;
  padding: 0 !important;
    
}

.gm-style .gm-style-iw-c {
  width: 270px;
  margin: 0 !important;
  padding: 0 !important;  
  top: -17px;
}
iframe {
  
}
.gm-style-pbc {
  height: 100px;
  position: absolute;
}
/* 
gm-style-iw-d
gm-style-iw gm-style-iw-c */
.gm-style-iw-t {
  
  margin: 0 !important;
  padding: 0 !important;  
}

.gm-ui-hover-effect{
  display: none !important;
}

.gm-style .gm-style-iw-t::after {
  content: '';
  background: none !important;
}

.gm-style-mtc {
  display: none;
}